<!-- data.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="../public/css/usericon.css" />
  </head>
  <body body style="text-align: center">
    <nav
      class="navbar navbar-expand-lg p-3"
      style="
        background-color: #140941;
        color: white;
        box-shadow: 0px 11px 12px -3px #000000;
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #e9043a"
          ><h3>SpendTracker</h3></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link mx-2 active"
                aria-current="page"
                href="/"
                style="color: #ffff"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link mx-2 active"
                aria-current="page"
                href="/addexpense"
                style="color: #ffff"
                >Add New Expense</a
              >
            </li>
            <li class="nav-item dropdown">
              <button
                class="btn dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
                style="
                  background-color: #140941;
                  border-width: 0;
                  padding-top: 0;
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="white"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" style="min-width: min-content">
                <li>
                  <a class="dropdown-item" href="/logout" style="color: #e9043a"
                    >Logout</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/logout"
                    style="color: #e9043a"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    Delete User
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br /><br />
    <h1
      class="display-5"
      style="text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.68); color: white"
    >
      Expenses
    </h1>
    <br /><br />
    <% expense.forEach(function(data) { %>
    <h3 style="display: inline-block; color: white"><%= data.date %></h3>
    <form
      method="POST"
      style="display: inline-block"
      action="/delete/date/<%=data.date%>?_method=DELETE"
    >
      <button
        type="submit"
        class="btn-close"
        style="border-style: none"
      ></button>
    </form>
    <table
      class="table table-light table-striped table-hover table table-bordered table-center"
      style="width: 70%"
    >
      <tr class="table-light">
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
        <th scope="col">Delete</th>
      </tr>
      <% data.content.forEach(function(item) { %>
      <tr class="table-light">
        <td><%= item.amount %></td>
        <td><%= item.description %></td>
        <td>
          <form
            method="POST"
            action="row/<%=item._id%>/<%=data.date%>?_method=DELETE"
          >
            <button
              type="submit"
              class="btn btn-outline-secondary"
              style="border-style: none; padding-top: 0"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-circle-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
                />
              </svg>
            </button>
          </form>
        </td>
      </tr>
      <% }); %>
    </table>
    <hr
      style="
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(
          left,
          #f0f0f0,
          #8c8b8b,
          #f0f0f0
        );
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      "
    />
    <% }); %>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              style="border: none; background-color: white"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete your account?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <form action="delete/account?_method=DELETE" method="post">
              <button type="submit" class="btn btn-primary">Yes,Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
